
@page
@model FacilityListBriefModel
@{
    ViewData["Title"] = "Onboarded Facilities";
}
<h1>@ViewData["Title"]</h1>

<p>These facilities have been fully onboarded.</p>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].FacilityCode)
            </th>
            <th>
                Layers Configured
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Facility)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityName) @*//straight pull from Facility*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityCode) @*//straight pull from Facility*@
                </td>
                <td>
                    @foreach (var collectionlayer in item.FacilityCollections!)
                    {
                    }
                    @Html.DisplayFor(modelItem => item.FacilityCollections.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
